.button-style {
    text-decoration: none;
    font-width: 700px;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 15px;
}

.button-style2 {
    text-decoration: none;
    font-width: 700px;
    color: white;
    background-image: linear-gradient(blue, aqua);
    padding: 10px 40px;
    border-radius: 15px;
}

body {
    background-image: url(top-banner.png);

    background-repeat: no-repeat;
    background-position: ;
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

.one-plus-sec1 {
    display: flex;
    width: 100%;
    padding-left: 5%;

}

.one-plus-sec2 {
    display: flex;
    width: 100%;
    padding-left: 5%;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.fear {
    color: orange;
}

div {
    width: 50%;
}

.img-style {
    width: 350px;
    padding-left: 15%;

}