.button-style {
    text-decoration: none;
    font-width: 700px;
    color: white;
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    border-radius: 15px;
}

.button-style2 {
    text-decoration: none;
    font-width: 700px;
    color: white;
    background-image: linear-gradient(blue, aqua);
    padding: 10px 40px;
    border-radius: 15px;
}

body {
    background-image: url(top-banner.png);

    background-repeat: no-repeat;
    background-position: ;
    font-family: 'Poppins', sans-serif;
    margin: 0px;

}

.one-plus-sec1 {
    display: flex;
    width: 100%;
    padding-left: 5%;

}

.one-plus-sec2 {
    display: flex;
    width: 100%;
    padding-left: 5%;


}

.first-enter {
    background-image: url(dream-bg.png);
    margin: 0%;
    background-repeat: no-repeat;
    background-position: right;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 40px;
}

.brand {
    text-align: center;
}

.fear {
    color: orange;
}

.date {
    font-family: Arial, Helvetica, sans-serif;
}

div {
    width: 50%;
}

.img-style {
    width: 350px;
    padding-left: 15%;

}

p {
    text-decoration: solid;
    text-align: justify;
}

.third-sec-div {
    display: inline-flex;
    width: 100%;
    padding-left: 5%;
}

#center {
    text-align: center;
}

.inter-div1 {
    border-left: 6px solid;
    border-image: linear-gradient(blue, rgba(0, 128, 0, 0.61));
    border-image-slice: 1;
}

.inter-div2 {
    border-left: 6px solid;
    border-image: linear-gradient(blue, red);
    border-image-slice: 1;

}

.shadow-use {
    box-shadow: 10px 10px 30px black;
    width: 100%;
    margin-left: 5%;
    margin-right: 5%;
    border-radius: 20px;
    padding-left: 30px;
}